<a href="https://colab.research.google.com/github/baagyuri/class2021Spring/blob/main/variables%20%EB%85%B8%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))

<class 'int'>

소수점 = class: float

whole number = class: integer / 'int'

숫자여러개 = class : string / 'str'

every number starts with "0" so, 0, 1, 2, 3, 4, ...so on.

In [ ]:
a = 1; a = float(a); print(type(a))

<class 'float'>

In [ ]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

In [ ]:
a = '123';
print(type(a));
print(a[2])

<class 'str'>
3

In [ ]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

ex)

a = '123';

a = list(a)

pint(a)

['1','2','3']

list 할때 다른 종류 타입이 들어와도 상관없음. 어떤 형태든 가능하다.

ex) a = [1,'cde',[1,3]]

list안에 list가 있는것.

list, tuple 거의 똑같음. but only one difference.

ex) list

a = [1,2,3]

a[0] = -1 -> 첫번째 '1'을 '-1'로 바꾸라는 뜻

a

[-1,2,3]

하지만, tuple을 같은 방식으로 바꾸려고하면 error가 뜸.

a = (1,2,3)

a[0] = -1

-> error 그래서 tuple이 조금 더 안전하지만 쓰지 않는듯함.

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [ ]:
a = (1,'2', [3, '4']);
a

(1, '2', [3, '4'])

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

dict or dictoniary 

순서가 없다 그래서 숫자로 부를 수 없다.

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]